@charset "UTF-8";

body {
	background-color: #F2F2F2;
}

/* header */

#header {
  width: 100%;
  height: 60px;
  background-color: #D4D2D2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

div .logo {
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
}


/* nav */

#header .nav__list {
  list-style: none;
  display: flex;
}

.nav__list img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	padding-top: 0px;
	padding-right: 15px;
}

/*------------------*/

.main_contents {
	padding-top: 60px;
	padding-bottom: 80px;
}

.sub_header {
	height: 50px;
	padding-top: 9px;
}
/*-----------*/

.search-form-003 {
	width: 300px;
    height: 36px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #767d83;
    border-radius: 3px;
    margin: 0 0 0 auto;
    margin-right: 15px;
}

.search-form-003 input {
    width: 250px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.search-form-003 input::placeholder{
    color: #767d83;
}

.search-form-003 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-003 button::after {
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23767d83%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/*---------*/


.title {	
	padding-top: 10px;
	padding-left: 20px;
}

article {
	width: 50%;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-end;

}

.contents {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.home_image {
	width: 630px;
}

.container{
	display: flex;
	padding: 10px;
	height: 180px;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-end;
}

.item{
	text-align: center;
	background-color: #F2F2F2;
	color: #fff;
	margin: 10px;
	padding: 8px;
	width: 250px;
	height: 180px;
}

.submit {
	display: inline-block;
	border-radius: 5%;
	font-size: 25pt;
	text-align: center;
	cursor: pointer;
	padding: 20px 31px;
	background: #ffff88;
	color: #000000;
	line-height: 1rem;
	transition: .3s;
	box-shadow: 2px 2px 2px #666666;
	margin: 10px;
}


footer {
	background-color: #D4D2D2;
	height: 180px;
	color: #2B2B2B;
	text-align: center;
	padding: 30px;
}
